.App {
  text-align: center;
  background-image: linear-gradient(
    to right,
    rgb(87, 233, 87),
    cyan,
    rgb(212, 212, 34),
    rgb(206, 62, 62)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}